<!-- Toolbar -->
<!-- <div class="topInfo">

</div> -->
<div class="header">
    <div class="headerLogoTitle" [ngClass]="{'headerLogoTitleShadow':!showMenu}">
      <div class="headerLogo">
        <img   alt="Angular Logo"  src="assets/images/logo.png" />
      </div>
      <div class="headerTitle">
        <span>مجمع الأمير فهد بن محمد آل سعود الخيري </span>
        <span class="headerSubTitle">وحدة تجهيز الأموات</span>
      </div>
      <div class="headerMenuIcon" (click)="mobileMenuClick($event)">
        <i class="fa-solid fa-bars" *ngIf="!showMenu"></i>
        <i class="fa-solid fa-xmark" style="font-size: 28px;" *ngIf="showMenu"></i>
      </div>
    </div>
    <div class="headerNav" [ngClass]="{'show':showMenu}">
      <div class="rightNav">
        <a class="navItem"   routerLink="/">
          <i class="fa-solid fa-house"></i>
          <span>
            الرئيسية 
          </span>
        </a>
        <a class="navItem"   routerLink="/admin" *ngIf="authService.isAuth">
          <i class="fa-solid fa-calendar-check"></i>
          <span>
            الادارة
          </span>
        </a>
        <a class="navItem"   routerLink="/monthlyReport" *ngIf="authService.isAuth">
          <i class="fas fa-table"></i>
          <span>
            التقرير
          </span>
        </a>
        <a class="navItem"   (click)="openStatisticsPopup()" >
          <i class="fa-solid fa-chart-line"></i>
          <span>
            احصائيات
          </span>
        </a>
      </div>
      <div class="leftNav">
        <a class="navItem"   routerLink="/login" *ngIf="!authService.isAuth" >
          <i class="fas fa-user-lock"></i>
          <span>
            تسجيل الدخول
          </span>
        </a>
        <a class="navItem"  (click)="logout($event)" *ngIf="authService.isAuth">
          <i class="fa-solid fa-person-walking-arrow-right"></i>
          تسجيل الخروج
        </a>
      </div>
    </div>
</div>

<modal [(show)]="showStatistics">
  <div class="statContainer" *ngIf="showStatistics">
    <div class="statTitle">
       <span> احصائيات</span>
    </div>
    <div class="statSubTitle">
      <span>جنائز مجمع الأمير فهد بن محمد آل سعود الخيري </span>
   </div>
    <div style="display: grid;grid-template-columns: 70% 10% 20%;grid-gap:10px;;font-size: 14px; ">
      <div>جنائز أمس</div>
      <div class="statNum">{{arabicNums.toArabicNum(statistics.yesterday)}}</div>
      <div>جنازة</div>
      <div>{{arabicNums.toArabicNum('جنائز آخر 7 أيام')}}</div>
      <div class="statNum">{{arabicNums.toArabicNum(statistics.last7Days)}}</div>
      <div>جنازة</div>
      <div>{{arabicNums.toArabicNum('جنائز آخر 30 يوم')}}</div>
      <div class="statNum">{{arabicNums.toArabicNum(statistics.lastMonth)}}</div>
      <div>جنازة</div>
      <div>منذ بداية السنة الهجرية ({{arabicNums.toArabicNum(statistics.diffDaysHijiry)}} يوم)</div>
      <div class="statNum">{{arabicNums.toArabicNum(statistics.lastYearHijiry)}}</div>
      <div>جنازة</div>
      <div>منذ بداية السنة الميلادية ({{arabicNums.toArabicNum(statistics.diffDays)}} يوم)</div>
      <div class="statNum">{{arabicNums.toArabicNum(statistics.lastYear)}}</div>
      <div>جنازة</div>
    </div>
    <div style="width:300px;height:1px;background-color: var(--mainTextColor) ;margin-left: auto;margin-right: auto;margin-top: 10px;margin-bottom: 10px;"></div>
    <div style="text-align:center ;font-size: 18px;font-weight: bold;color: var(--mainTextColor)">
      رحمهم الله وأسكنهم فسيح جناته
    </div>
  </div>
</modal>
<!-- <div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':statisticsDisplayStyle}"  style="z-index: 99999999" *ngIf="showStatistics">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">الاحصائيات</h4>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="closeStatisticsPopup()">
          اغلاق
        </button>
      </div>
    </div>
  </div>
</div> -->

    
    
      
