<alert [(show)]="showAlert">
    <h6>
        {{alertMessage}}
    </h6>
</alert>
<div class="login-page">
<div class="container">
    <div class="cards-container">
        <div class="card">
            <div class="title">
                <span>تسجيل الدخول</span>
             </div>
             <div class="subTitle">
                <span>مسؤول صفحة وحدة تجهيز الأموات </span>
             </div>
            <div class="form" [formGroup]="loginFrom">
                <div class="formInput">
                    <!-- <label>اسم المستخدم</label> -->
                    <input name="userLogin" type="text" formControlName="userLogin" value="user1" placeholder="اسم المستخدم">
                </div>
                <div class="formInput">
                    <!-- <label>كلمة المرور</label> -->
                    <input name="userLogin" type="password" formControlName="password" value="123" placeholder="كلمة المرور" (keyup.enter)="login()" >
                </div>
                <div class="formInput" style="text-align:right ;">
                    <!-- <label>كلمة المرور</label> -->
                    <input  type="checkbox" class="largerCheckbox">
                    <span>تذكرني</span>
                </div>
                <!-- <p>Form Status: {{ loginFrom.status }}</p> -->
                <div class="formButtons">
                    <button class="btn" [disabled]="loginFrom.status == 'INVALID'" (click)="login()">دخول</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
