.container{
    width: 100%;
}
.cards-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
width: 90%;
min-height: 250px;
max-height: 100%;
border-style:solid ;
border-width:2px ;
margin: 20px;
background-color:white;
font-family: 'Cairo', sans-serif;
font-size: 24px;
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3)  ;
box-sizing: border-box;
overflow: hidden;
padding: 12px;
}
.card.main{
    background-color:var(--mainTextColor);
    color: white;
    background-image: url(/assets/images/cardbg.png);
}
.card.main .location-link{
    color: rgba(255, 255, 255, 0.95);
    text-decoration: none;
}
.card.main .location-link:hover{
    color: white;
    text-decoration: underline;
}

.info-container{
    display: flex;
    justify-content: space-around;
}
.info{
    margin: 10px;
    font-size: 20px;
}
.number{
    color: red;
    font-size: 30px;
}
.buttons{
  font-family: 'Cairo', sans-serif;
  font-weight: 800 !important;
  font-size: 24px;
}
.btn{
    background-color: var(--secondTextColor);
    color: white;
}

.dtlContainer{
    padding-left: 30px;
    padding-right: 30px;
  }
  .dtltTitle{
    text-align: center;
    color: var(--mainTextColor);
    font-family: 'Cairo', sans-serif;
    font-weight: 800;
    font-size: 18px;
    padding-bottom: 30px;
  }
  
  @media screen and (max-width: 990px){
    .dtlContainer{
        padding-left: 10px;
        padding-right: 10px;
      }
  }