.container{
    width: 100%;
}
.search{
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
}
.details{
    width: 100%;
    /* margin: auto;     */
}
.title{
    width: 100%;
    text-align: center;
    font-size:35px;
    font-weight: bold;
    color:var(--mainTextColor);
}
.searchForm{
    color:var(--mainTextColor);
    font-size:18px;
}

  .btn{
      margin-right: 15px;
      min-width: 80px;
      padding: 0;
  }
  .btn-success{
    background-color: var(--secondTextColor);
    color: white;
  }
  .btn-danger{
    background-color: red;
    color: white;
  }

.dataGrid{
    width: 100%;
    display: grid;
    grid-template-columns: 10% 14% 8% 8% 12% 10% 10% 14% 14%;
    /* row-gap: 1rem; */
    color:var(--mainTextColor);
    font-size:16px;
    overflow-x: auto;
}


.header{
  font-weight: bold;
}

.gridCell{
   border-bottom-style:solid ;
   border-bottom-width: 1px;
   border-color:gray ;
   padding-bottom: 10px;
   padding-top: 10px;
   text-align: right;
    
}
.oddGridCell{
background-color:rgb(231, 245, 231,0.7);

}

.mobileTitle{
    display: none;
}
.rowButtons{
   
}

.editFormContainer{
    width: 50%;
    color:var(--mainTextColor);
    font-size:18px;
    margin: auto;
    border-style:solid ;
    border-width:2px ;
    border-color: var(--secondTextColor);
    background-color:white;
    font-family: 'Cairo', sans-serif;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3)  ; 
    padding: 30px;
}
.editFormContainer .title{
    width: 100%;
    text-align: center;
    font-size:25px;
    font-weight: bold;
    color:var(--mainTextColor);

   
}
.editForm{
    padding-top: 20px;
    width: 50%;
    margin: auto;
}
.inputContainer{
    
}
.inputLable{
    display: block;
}
.input{
    width: 300px;
}
.formButtons{
    text-align: center;
}

/* Tablet view - show grid with smaller columns */
@media screen and (max-width: 1200px) and (min-width: 769px){
.dataGrid{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(9, minmax(80px, 1fr));
    font-size: 14px;
}
.gridCell{
    padding: 8px 4px;
    word-break: break-word;
}
.editFormContainer{
    width: 80%;
}
}

/* Mobile view - stack cells vertically */
@media screen and (max-width: 768px){
.dataGrid{
    display: grid;
    width: 100%;
    grid-template-columns: 100% ;
}
.header{
 display: none; 
}
.gridCell{
    border-width: 0px;
    padding: 5px 0px;
 }
 .oddGridCell{
    background-color:transparent
    }
.mobileTitle{
    display:inline;
    font-weight: bold;
    margin-left: 5px;
}
.details{
    width: 100%;
} 
.rowButtons{
   text-align: center;
   border-bottom-style:solid ;
   border-bottom-width: 2px;
   border-color: var(--secondTextColor);
   padding-bottom: 15px;
   padding-top: 10px;
   margin-bottom: 15px;
} 
.editFormContainer{
    width: 100%;
    padding: 15px;
}
.editForm{
    padding-top: 20px;
    width: 100%;
    margin: auto;
}
.input{
    width: 100%;
}
}