/* You can add global styles to this file, and also import other style files */

/* html, body { height: 100%; } */
:root {
     --appMedia: screen and (max-width: 991.98px);
     /* Palette from site logo: deep blue, maroon/brown */
     --mainTextColor: #1e3a5f;
     --secondTextColor: #7b3d4a;
     --mainR: 30;
     --mainG: 58;
     --mainB: 95;
   }
   
body { 
    margin: 0;
     font-family: 'Cairo',Roboto, "Helvetica Neue", sans-serif;
     font-weight: 400;
     direction: rtl;
     }

.container{
     text-align: right; 
}
input[type=text] {     
     box-sizing: border-box;
     border: 1px solid gray;
     transition: 0.1s;
     outline: none;
   }
input[type=text]:focus {
     border: 1px solid var(--mainTextColor) !important;
     box-shadow: 0 0 5px var(--mainTextColor);
   }
   input[type=password] {     
     box-sizing: border-box;
     border: 1px solid gray;
     transition: 0.1s;
     outline: none;
   }
input[type=password]:focus {
     border: 1px solid var(--mainTextColor) !important;
     box-shadow: 0 0 5px var(--mainTextColor);
   }
select{
     box-sizing: border-box;
     border: 1px solid gray;
     transition: 0.1s;
     outline: none;
   }

   select:focus {
     border: 1px solid var(--mainTextColor) !important;
     box-shadow: 0 0 5px var(--mainTextColor);
   }

